<section class="container">
    <header class="row">
        <div class="col-md-12">
            <h1 class="text-center">{{vm.title}}</h1>
        </div>
    </header>
</section>

<section class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <input type="search" class="form-control input-md" id="search" placeholder="Enter search term" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid">
    <div class="row">
        <!--<nav class="col-md-4 col-lg-4 hidden-xs hidden-sm">-->
        <nav class="col-md-4 col-lg-4">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-folder-close"></span>
                            <a href="#customers" data-toggle="collapse" data-parent="accordion"> Customers</a>
                        </h4>
                    </div>
                    <div id="customers" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="#customers-gde" data-toggle="collapse">
                                    GDE <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                                    </a>
                                <div id="customers-gde">
                                    <ul>
                                        <li>
                                            Hello World
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <a href="#customers-mainone" data-toggle="collapse">
                                    MainOne <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                                    </a>
                            </li>
                            <li class="list-group-item">
                                <a href="#customers-scotch-io" data-toggle="collapse">
                                    Scotch IO <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                                    </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-folder-close"></span>
                            <a href="#vendors" data-toggle="collapse" data-parent="accordion"> Vendors</a>
                        </h4>
                    </div>
                    <div id="vendors" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="#vendors-gde" data-toggle="collapse">
                                    GDE <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                                    </a>
                            </li>
                            <li class="list-group-item">
                                <a href="#vendors-mainone" data-toggle="collapse">
                                    MainOne <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                                    </a>
                            </li>
                            <li class="list-group-item">
                                <a href="#vendors-scotch-io" data-toggle="collapse">
                                    Scotch IO <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                                    </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <main class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-md-4">
                    
                </div>
            </div>
        </main>
    </div>
</section>